pip-client/service/PersonIdentiyService-request.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://ijs.gov.za/schemas/messages/PersonIdentityProfile/Request/1.0" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns:ns0="http://ijs.gov.za/schemas/sajxmlhubrelease/3.0" xmlns:saj-sip="http://ijs.gov.za/schemas/sajsip/3.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:saj="http://ijs.gov.za/schemas/sajxdm/2.0.0" xmlns="http://ijs.gov.za/schemas/messages/PersonIdentityProfile/Request/1.0">
   <xsd:import schemaLocation="PersonIdentiyService-sajxdm2.xsd" namespace="http://ijs.gov.za/schemas/sajxdm/2.0.0">
      <xsd:annotation>
         <xsd:documentation source="model">SAJ domain data model definitions.</xsd:documentation>
      </xsd:annotation>
   </xsd:import>
   <xsd:import schemaLocation="PersonIdentiyService-sajsip3.xsd" namespace="http://ijs.gov.za/schemas/sajsip/3.0.0">
      <xsd:annotation>
         <xsd:documentation source="model">SAJ Service Interaction Profile: Base message format definitions.</xsd:documentation>
      </xsd:annotation>
   </xsd:import>
   <xsd:annotation>
      <xsd:appinfo>
         <schemaInfo root_reference="PersonIdentityProfileRequest" xmlns="http://schemas.microsoft.com/BizTalk/2003"/>
         <b:references>
            <b:reference targetNamespace="http://ijs.gov.za/schemas/sajsip/3.0.0"/>
            <b:reference targetNamespace="http://ijs.gov.za/schemas/sajxdm/2.0.0"/>
         </b:references>
      </xsd:appinfo>
   </xsd:annotation>
   <xsd:complexType name="MessagePayloadTypeRq">
      <xsd:annotation>
         <xsd:documentation source="model">Person identity profile request payload.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent mixed="false">
         <xsd:restriction base="saj-sip:MessagePayloadType3">
            <xsd:sequence>
               <xsd:element ref="saj:SANationalID">
                  <xsd:annotation>
                     <xsd:documentation source="model">The RSA national identity number of the person. Pattern = YYMMDDGSSSCAZ YYMMDD:  Date of birth G:  Gender (0-4 Female; 5-9 Male) SSS:  Sequence No for DOB/G combination C:  Citizenship.  0 SA; 1 Other A:  Usually 8, or 9 but can be other values Z:  Calculated control (check) digit.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:restriction>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="PersonIdentityProfileRequestType">
      <xsd:annotation>
         <xsd:documentation source="model">Message sent from the requesting department/party through the IJS Interoperability Hub to DHA. Message will be sent whenever a person’s national identity number is known and the person’s identity profile is required.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent mixed="false">
         <xsd:extension base="saj-sip:RequestMessageType">
            <xsd:sequence>
               <xsd:element ref="Payload">
                  <xsd:annotation>
                     <xsd:documentation source="model">Person identity profile request payload.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="Payload" type="MessagePayloadTypeRq">
      <xsd:annotation>
         <xsd:documentation source="model">Person identity profile request payload.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:element name="PersonIdentityProfileRequest">
      <xsd:annotation>
         <xsd:documentation source="model">Message sent from the requesting department/party through the IJS Interoperability Hub to DHA. Message will be sent whenever a person’s national identity number is known and the person’s identity profile is required.</xsd:documentation>
         <xsd:appinfo/>
      </xsd:annotation>
      <xsd:complexType>
         <xsd:complexContent mixed="false">
            <xsd:restriction base="PersonIdentityProfileRequestType">
               <xsd:sequence>
                  <xsd:element ref="saj-sip:Header">
                     <xsd:annotation>
                        <xsd:documentation source="model">Message header. Always the first element of any SAJSIP message.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element ref="Payload">
                     <xsd:annotation>
                        <xsd:documentation source="model">Person identity profile request payload.</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
               <xsd:attribute fixed="000063" ref="saj-sip:typeId" use="required">
                  <xsd:annotation>
                     <xsd:documentation source="model">Six-digit identifier. Message type identifier. Is constant for all versions of the schema for this message. Values are pre-assigned by the IJS.</xsd:documentation>
                  </xsd:annotation>
               </xsd:attribute>
            </xsd:restriction>
         </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>